h1 {
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}
@media (min-width: 481px) {
  h1 {
    font-size: 1.75rem;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }
}