* {
  transition: all 0.2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 85dvw;
}
@media (min-width: 768px) {
  #root {
    width: 60%;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}