.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  width: 100%;
  border-bottom: 1px solid hsl(144, 100%, 30%);
}
.item-number {
  font-weight: bold;
  color: hsl(144, 100%, 20%);
}
button:not(.add-task-button) {
  width: 25px;
  height: 25px;
  font-size: 18px;
  border-radius: 5px;
}
.mobile-priority-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mobile-task-info {
  display: flex;
  height: 65px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.task-details {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  gap: 10px;
}
.up-button {
  background-color: white;
  cursor: pointer;
  color: green;
  border: 1px solid green;
}
button.disabled {
  opacity: 0.5;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: black;
}
button.disabled:hover {
  opacity: 0.5;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: black;
  cursor: not-allowed;
}
.down-button {
  background-color: white;
  cursor: pointer;
  color: red;
  border: 1px solid red;
}
.up-button:hover {
  background-color: green;
  color: white;
}
.down-button:hover {
  background-color: red;
  color: white;
}
.task-name {
  flex: 1;
  font-weight: bold;
}
.delete-button {
  background-color: white;
  cursor: pointer;
  border: none;
  color: red;
}
@media (min-width: 481px) {
  .task-item {
    font-size: 14px;
    gap: 5px;
    padding: 5px;
  }
}
@media (min-width: 561px) {
  .task-item {
    font-size: 15px;
    gap: 5px;
    padding: 10px;
  }
}
@media (min-width: 831px) {
  .task-item {
    font-size: 16px;
    gap: 8px;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  .task-item {
    font-size: 18px;
    gap: 5px;
    padding: 15px;
  }  
  button:not(.add-task-button) {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
  }
}