.off {
  display: none;
}
.warning {
  color: red;
  font-size: 0.9em;
  margin: 5px 0;
}
.task-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.mobile-inputs {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #7d7d7d;
  font-size: 12px;
}
input:focus {
  outline: hsl(144, 100%, 25%) solid 2px;
}
input[type="text"] {
  width: 100%;
}
.add-task-button {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background-color: hsl(144, 100%, 30%);
  color: white;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}
.task-input > button:hover {
  background-color: hsl(144, 100%, 25%);
}
@media (min-width: 481px) {
  .tablet-inputs {
    display: flex;
    gap: 5px;
    width: 100%;
  }
  .add-task-button {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
  }
  input {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
  }
}
@media (min-width: 1001px) {
  .task-input {
    flex-direction: row;
    gap: 5px;
  }
  .add-task-button {
    width: auto;
    white-space: nowrap;
  }
  .add-task-button {
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 16px;
  }
  input {
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 16px;
  }
}