.task-list {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  height: auto;
  scrollbar-width: none;
}
.empty-message {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 10px;
}